openapi: 3.1.0

info:
  title: Santos Tech — Auth API
  version: "1.0.0"
  description: |
    API central de autenticação da **santos-tech.com** (`apps/api-go`, Go + net/http).

    É o ponto único de login para todos os subdomínios (`*.santos-tech.com`). Emite
    JWT (HS256) em cookies `httpOnly` compartilhados no domínio `.santos-tech.com`,
    de modo que qualquer serviço do ecossistema (painel, portal, email-sender)
    valide o **mesmo** token.

    ## Autenticação
    Há duas formas de enviar credenciais, equivalentes:
    - **Cookie** `access_token` (preferencial; setado pelo próprio servidor no login).
    - Header **`Authorization: Bearer <access_token>`** (para clientes não-browser).

    O `refresh_token` (cookie `httpOnly`) é usado em `POST /auth/refresh` e na
    rotação de sessão; para clientes sem cookie jar (ex. app mobile) também pode
    ser enviado via `Authorization: Bearer` nesse endpoint especificamente.

    Requests **sem** o header `Origin` (navegadores sempre o mandam em POST,
    inclusive same-origin) são tratadas como cliente não-browser: `POST /auth/login`,
    `POST /auth/mfa/verify` e `POST /auth/refresh` (via Bearer) devolvem
    `accessToken`/`refreshToken` no corpo da resposta, já que esse cliente não tem
    como usar o `Set-Cookie`.

    ## Formato de erro
    Todas as respostas de erro seguem `{ "code": "STRING", "message": "texto" }`
    com o status HTTP correspondente.

    ## Rate limiting
    - Limite **global**: 200 req/min por IP (todas as rotas).
    - Limites **por rota** (mais apertados) nas rotas sensíveis — ver cada endpoint.
    - Excedido o limite, responde **429** com `code: RATE_LIMITED`.
    - O IP é resolvido por `CF-Connecting-IP` → `X-Forwarded-For` → `RemoteAddr`
      (atrás de Cloudflare + Traefik). É *fail-open*: se o Redis cair, não bloqueia.

servers:
  - url: https://api.santos-tech.com
    description: Produção
  - url: http://localhost:3000
    description: Local (docker compose / go run)

tags:
  - name: Auth
    description: Login, registro, sessão e tokens
  - name: Accounts
    description: Multi-conta no navegador (chooser estilo Google)
  - name: Password
    description: Recuperação e redefinição de senha
  - name: MFA
    description: Autenticação em dois fatores (TOTP, email OTP, recovery codes)
  - name: OAuth
    description: Login social via Google
  - name: OAuthProvider
    description: Servidor OAuth 2.0 ("Entrar com Santos Tech") — authorization code + PKCE S256
  - name: Admin
    description: Gestão administrativa (requer role Admin)
  - name: System
    description: Saúde do serviço
  - name: Observabilidade
    description: Logs (Loki) e erros (Sentry) do ecossistema — admin-only
  - name: Payments
    description: Pagamentos (payments-go — prefixo /payments em produção)
  - name: Blog
    description: |
      Blog institucional (santos-tech.com/blog). `/public/blog/*` é leitura 100%
      pública (sem cookie/token, só posts com status `published`). `/blog/*` é o
      CRUD admin — requer role Admin ou cargo personalizado com a permissão
      `blog_posts:read`/`blog_posts:write`; exclusão é admin-only + sudo mode.

paths:
  /health:
    get:
      tags: [System]
      summary: Health check
      description: Verificação de liveness. Não requer autenticação.
      security: []
      responses:
        "200":
          description: Serviço no ar
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    const: true
                required: [ok]

  /auth/register:
    post:
      tags: [Auth]
      summary: Cadastrar novo usuário
      description: |
        Cria um usuário com email, nome e senha (mín. 8 caracteres). O email é
        normalizado (trim + lowercase). **Não** inicia sessão — o cliente deve
        chamar `POST /auth/login` em seguida.

        Rate limit: **5 req/min por IP**.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "201":
          description: Usuário criado
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: "#/components/schemas/NewUser"
                required: [user]
        "400":
          $ref: "#/components/responses/ValidationError"
        "409":
          description: Email já cadastrado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: EMAIL_ALREADY_EXISTS, message: "Este email já está cadastrado" }
        "429":
          $ref: "#/components/responses/RateLimited"

  /auth/login:
    post:
      tags: [Auth]
      summary: Login com email/username + senha
      description: |
        Autentica por `identifier` (email **ou** username) e senha.

        - Sem MFA: emite a sessão (cookies `access_token` + `refresh_token`) e
          devolve o perfil do usuário. Sem header `Origin` (cliente não-browser,
          ex. app mobile), a resposta também inclui `accessToken`/`refreshToken`
          no corpo — ver `SessionResponse`.
        - Com MFA ativo: **não** emite tokens. Retorna `{ mfaRequired: true, challenge }`.
          O cliente deve seguir para `POST /auth/mfa/verify` (ou pedir um código por
          email com `POST /auth/mfa/email`). O `challenge` expira em 10 minutos.
          `POST /auth/mfa/verify` segue a mesma regra de `Origin` do login.

        Rate limit: **10 req/min por IP**.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: |
            Login concluído (com cookies) **ou** desafio MFA pendente.
          headers:
            Set-Cookie:
              $ref: "#/components/headers/AuthCookies"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/SessionResponse"
                  - $ref: "#/components/schemas/MfaChallengeResponse"
              examples:
                sucesso:
                  summary: Login direto (sem MFA)
                  value:
                    user:
                      id: 42
                      email: aluno@santos-tech.com
                      username: null
                      name: Maria Aluna
                      role: 1
                      customRoleId: null
                      avatarUrl: null
                      mfaEnabled: false
                      suspendedAt: null
                      permissions: null
                      createdAt: "2026-01-10T12:00:00Z"
                mfa:
                  summary: MFA exigido
                  value:
                    mfaRequired: true
                    challenge: "f3a9c0b1d2e3f4a5b6c7d8e9f0a1b2c3"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          description: Credenciais inválidas
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: INVALID_CREDENTIALS, message: "Email ou senha inválidos" }
        "403":
          description: Conta suspensa
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: ACCOUNT_SUSPENDED, message: "Conta suspensa" }
        "429":
          $ref: "#/components/responses/RateLimited"

  /auth/logout:
    post:
      tags: [Auth]
      summary: Logout (XHR)
      description: |
        Encerra a sessão atual: apaga a sessão correspondente ao `refresh_token`
        e limpa os cookies de auth. Pensado para chamadas via `fetch`/XHR.
      responses:
        "204":
          description: Sessão encerrada
          headers:
            Set-Cookie:
              $ref: "#/components/headers/ClearAuthCookies"
    get:
      tags: [Auth]
      summary: Logout (link/redirect)
      description: |
        Igual ao `POST`, mas redireciona (302) após deslogar — útil em links de
        logout. Sem `redirect`, vai para `AUTH_WEB_ORIGIN`. O `redirect` só é aceito
        se a **origem** (`scheme://host`) constar em `CORS_ORIGIN`/`AUTH_WEB_ORIGIN`
        (proteção contra open-redirect).
      security: []
      parameters:
        - name: redirect
          in: query
          required: false
          schema: { type: string, format: uri }
          description: URL de destino (origem precisa estar na allowlist).
      responses:
        "302":
          description: Redireciona após encerrar a sessão
          headers:
            Location:
              schema: { type: string, format: uri }
            Set-Cookie:
              $ref: "#/components/headers/ClearAuthCookies"

  /auth/me:
    get:
      tags: [Auth]
      summary: Perfil do usuário autenticado
      description: |
        Retorna o perfil do usuário do `access_token` (cookie ou Bearer). Inclui
        `permissions` resolvidas quando o papel é Custom (`role = 4`).
      responses:
        "200":
          description: Perfil atual
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SessionResponse" }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Conta suspensa
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: ACCOUNT_SUSPENDED, message: "Conta suspensa" }

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Renovar a sessão
      description: |
        Lê o refresh token do cookie `refresh_token` **ou**, na ausência dele, do
        header `Authorization: Bearer <refresh_token>` (cliente não-browser, ex. app
        mobile, que não tem cookie jar). Valida a sessão no banco, **rotaciona**
        (apaga a sessão antiga e cria nova) e seta novos cookies `access_token` +
        `refresh_token`.

        - Via cookie: responde `204`, só cookies novos (comportamento de sempre).
        - Via `Authorization: Bearer`: responde `200` com `accessToken`/`refreshToken`
          no corpo (o cliente não tem como ler o `Set-Cookie` de qualquer forma).

        Rate limit: **20 req/min por IP**.
      security:
        - refreshCookie: []
        - refreshBearer: []
      responses:
        "200":
          description: Tokens renovados, devolvidos no corpo (fluxo via Bearer, sem cookie)
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken: { type: string }
                  refreshToken: { type: string }
                required: [accessToken, refreshToken]
        "204":
          description: Tokens renovados (novos cookies setados, fluxo via cookie)
          headers:
            Set-Cookie:
              $ref: "#/components/headers/AuthCookies"
        "401":
          description: Refresh ausente, inválido ou sessão expirada
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: UNAUTHORIZED, message: "Sessão expirada" }
        "429":
          $ref: "#/components/responses/RateLimited"

  /auth/forgot-password:
    post:
      tags: [Password]
      summary: Solicitar recuperação de senha
      description: |
        Gera um token de reset (válido por 1h, guardado hasheado no Redis) e envia
        o link por email. A resposta é **sempre** `{ message: "ok" }`, exista o
        email ou não (não vaza se a conta existe).

        Rate limit: **3 req/5min por IP**.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string, format: email }
              required: [email]
      responses:
        "200":
          $ref: "#/components/responses/Ok"
        "400":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"

  /auth/reset-password:
    post:
      tags: [Password]
      summary: Redefinir senha com token
      description: |
        Troca a senha usando o token recebido por email. A nova senha precisa ter
        ≥ 8 caracteres. Em caso de sucesso, **todas as sessões** do usuário são
        revogadas e o token é consumido.

        Rate limit: **10 req/min por IP**.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token: { type: string }
                newPassword: { type: string, minLength: 8, format: password }
              required: [token, newPassword]
      responses:
        "200":
          $ref: "#/components/responses/Ok"
        "400":
          description: Validação falhou ou token inválido/expirado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              examples:
                validacao: { value: { code: VALIDATION_ERROR, message: "senha mínima de 8 caracteres" } }
                token: { value: { code: INVALID_TOKEN, message: "Link de recuperação inválido ou expirado" } }
        "429":
          $ref: "#/components/responses/RateLimited"

  /auth/mfa/setup:
    post:
      tags: [MFA]
      summary: Iniciar configuração de TOTP
      description: |
        Gera um secret TOTP **pendente** (válido por 10min no Redis) e a `otpauthUrl`
        para montar o QR code. O MFA só é ativado em `POST /auth/mfa/enable`.
      responses:
        "200":
          description: Secret e URL otpauth
          content:
            application/json:
              schema:
                type: object
                properties:
                  secret: { type: string, description: "Secret TOTP base32" }
                  otpauthUrl:
                    type: string
                    example: "otpauth://totp/Santos%20Tech:aluno@santos-tech.com?secret=...&issuer=Santos%20Tech"
                required: [secret, otpauthUrl]
        "401":
          $ref: "#/components/responses/Unauthorized"

  /auth/mfa/enable:
    post:
      tags: [MFA]
      summary: Confirmar e ativar o MFA
      description: |
        Valida o código TOTP gerado a partir do secret pendente. Ativa o MFA e
        devolve **10 recovery codes** (mostrados uma única vez).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code: { type: string, description: "Código TOTP de 6 dígitos" }
              required: [code]
      responses:
        "200":
          description: MFA ativado
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled: { type: boolean, const: true }
                  recoveryCodes:
                    type: array
                    items: { type: string }
                    description: "10 códigos de recuperação (8 chars A-Z2-7)"
                required: [enabled, recoveryCodes]
        "400":
          description: Setup expirado ou código inválido
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              examples:
                expirado: { value: { code: MFA_SETUP_EXPIRED, message: "Setup expirado, gere novamente" } }
                invalido: { value: { code: INVALID_CODE, message: "Código inválido" } }
        "401":
          $ref: "#/components/responses/Unauthorized"

  /auth/mfa/disable:
    post:
      tags: [MFA]
      summary: Desativar o MFA
      description: |
        Desativa o MFA. Aceita um código **TOTP** ou um **recovery code**. Se o MFA
        já estiver inativo, responde `200` idempotente. Remove os recovery codes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code: { type: string, description: "TOTP ou recovery code" }
              required: [code]
      responses:
        "200":
          description: MFA desativado
          content:
            application/json:
              schema:
                type: object
                properties:
                  disabled: { type: boolean, const: true }
                required: [disabled]
        "400":
          description: Código inválido
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: INVALID_CODE, message: "Código inválido" }
        "401":
          $ref: "#/components/responses/Unauthorized"

  /auth/mfa/email:
    post:
      tags: [MFA]
      summary: Enviar código MFA por email
      description: |
        Segundo passo opcional do login: envia um OTP de 6 dígitos (válido 10min)
        para o email do usuário associado ao `challenge` devolvido no login.

        Rate limit: **3 req/5min por IP**.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                challenge: { type: string, description: "Challenge recebido no login com MFA" }
              required: [challenge]
      responses:
        "200":
          $ref: "#/components/responses/Ok"
        "400":
          description: Challenge inválido ou expirado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: INVALID_CHALLENGE, message: "Desafio inválido ou expirado" }
        "429":
          $ref: "#/components/responses/RateLimited"

  /auth/mfa/verify:
    post:
      tags: [MFA]
      summary: Concluir login com MFA
      description: |
        Valida o `code` contra (nesta ordem) TOTP, OTP por email e recovery codes.
        Em sucesso, consome o `challenge`, emite a sessão (cookies) e devolve o perfil.

        Rate limit: **10 req/min por IP**.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                challenge: { type: string }
                code: { type: string, description: "TOTP, OTP de email ou recovery code" }
              required: [challenge, code]
      responses:
        "200":
          description: Login concluído (cookies setados)
          headers:
            Set-Cookie:
              $ref: "#/components/headers/AuthCookies"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SessionResponse" }
        "400":
          description: Challenge ou código inválido
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              examples:
                challenge: { value: { code: INVALID_CHALLENGE, message: "Desafio inválido ou expirado" } }
                codigo: { value: { code: INVALID_CODE, message: "Código inválido" } }
        "429":
          $ref: "#/components/responses/RateLimited"

  /auth/google:
    get:
      tags: [OAuth]
      summary: Iniciar login com Google
      description: |
        Seta um cookie `oauth_state` (CSRF, 10min) e redireciona para o consentimento
        do Google. Requer `GOOGLE_CLIENT_ID` configurado.

        O parâmetro opcional `return_to` (apenas caminho relativo, ex.: `/oauth/choose?request_id=…`)
        é preservado no cookie `oauth_state` e devolvido pelo callback ao redirecionar.
        Usado pelo fluxo OAuth provider para retornar ao chooser após o login Google.
      security: []
      parameters:
        - name: return_to
          in: query
          required: false
          schema: { type: string, example: "/oauth/choose?request_id=abc123" }
          description: |
            Caminho relativo de retorno (só `/…`, nunca `//host`). Evita
            open-redirect: valores que não começam com `/` ou começam com `//` são ignorados.
      responses:
        "302":
          description: Redireciona para o Google
          headers:
            Location: { schema: { type: string, format: uri } }
            Set-Cookie:
              schema: { type: string }
              description: "oauth_state=...; HttpOnly; SameSite=Lax; Max-Age=600"
        "500":
          description: OAuth não configurado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: OAUTH_DISABLED, message: "OAuth não configurado" }

  /auth/google/callback:
    get:
      tags: [OAuth]
      summary: Callback do Google OAuth
      description: |
        Endpoint de retorno do Google. Valida o `state` (CSRF), troca o `code`,
        busca o perfil e — se houver usuário com aquele email — emite a sessão e
        redireciona para `AUTH_WEB_ORIGIN`. **Não cria usuários**: emails sem conta
        são redirecionados com `?error=account_not_found`.

        Sempre responde **302**; o resultado é sinalizado via query `error` no destino:
        `oauth_denied`, `oauth_failed`, `account_not_found`.

        Se `return_to` foi passado no `GET /auth/google`, ele é devolvido na
        URL de destino (sucesso) ou como `&return_to=` no desafio MFA.
      security: []
      parameters:
        - name: code
          in: query
          schema: { type: string }
        - name: state
          in: query
          schema: { type: string }
        - name: error
          in: query
          schema: { type: string }
      responses:
        "302":
          description: Redireciona ao frontend (sucesso ou erro via `?error=`)
          headers:
            Location: { schema: { type: string, format: uri } }
            Set-Cookie:
              $ref: "#/components/headers/AuthCookies"

  # ── Multi-conta ──────────────────────────────────────────────────────────────

  /auth/accounts:
    get:
      tags: [Accounts]
      summary: Listar contas conhecidas neste navegador
      description: |
        Lê o cookie assinado `accounts` (HMAC-SHA256, httpOnly) e devolve as
        contas cujas sessões ainda estão vivas no banco (sessões mortas são
        podadas automaticamente do cookie).

        O campo `active` indica qual conta corresponde ao `refresh_token` atual.
        Não requer `access_token` — basta o cookie `accounts`.
      security: []
      responses:
        "200":
          description: Lista de contas (pode ser vazia)
          content:
            application/json:
              schema:
                type: object
                properties:
                  accounts:
                    type: array
                    items: { $ref: "#/components/schemas/AccountSummary" }
                required: [accounts]
              example:
                accounts:
                  - sessionId: "a1b2c3d4-0000-0000-0000-000000000001"
                    name: "Maria Aluna"
                    email: "maria@santos-tech.com"
                    avatarUrl: null
                    active: true
                  - sessionId: "a1b2c3d4-0000-0000-0000-000000000002"
                    name: "João Admin"
                    email: "joao@santos-tech.com"
                    avatarUrl: "https://r2.santos-tech.com/avatars/joao.jpg"
                    active: false

  /auth/accounts/{sessionId}:
    delete:
      tags: [Accounts]
      summary: Remover conta da lista
      description: |
        Remove o `sessionId` do cookie `accounts` e revoga a sessão correspondente
        no banco. Se o `sessionId` não estiver na lista do cookie deste navegador,
        responde 404.
      security: []
      parameters:
        - name: sessionId
          in: path
          required: true
          schema: { type: string, format: uuid }
          description: ID da sessão a remover (UUID).
      responses:
        "204":
          description: Conta removida da lista e sessão revogada
        "404":
          description: Sessão não encontrada na lista deste navegador
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: ACCOUNT_NOT_FOUND, message: "Conta não encontrada neste navegador" }

  /auth/accounts/{sessionId}/activate:
    post:
      tags: [Accounts]
      summary: Ativar uma conta da lista
      description: |
        Troca a conta ativa no `auth-web`: rotaciona a sessão escolhida (a antiga
        é revogada) e seta os cookies `access_token` + `refresh_token` para o
        usuário dessa sessão.

        Rate limit: **20 req/min por IP**.
      security: []
      parameters:
        - name: sessionId
          in: path
          required: true
          schema: { type: string, format: uuid }
          description: ID da sessão a ativar (deve estar no cookie `accounts`).
      responses:
        "200":
          description: Conta ativada — novos cookies de sessão setados
          headers:
            Set-Cookie:
              $ref: "#/components/headers/AuthCookies"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SessionResponse" }
        "401":
          description: Sessão não encontrada ou expirada
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: SESSION_EXPIRED, message: "Sessão expirada — entre novamente" }
        "403":
          description: Conta suspensa
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: ACCOUNT_SUSPENDED, message: "Conta suspensa" }
        "429":
          $ref: "#/components/responses/RateLimited"

  # ── OAuth provider ("Entrar com Santos Tech") ─────────────────────────────────

  /oauth/authorize:
    get:
      tags: [OAuthProvider]
      summary: Iniciar autorização OAuth
      description: |
        Valida o client e redireciona o navegador para o chooser de contas do
        `auth-web` (`/oauth/choose?request_id=`). O estado da autorização é
        guardado no Redis (TTL 10min).

        **Erros antes da validação do redirect** (client_id/redirect_uri inválidos)
        são devolvidos como JSON diretamente — nunca como redirect para URI não
        confiável (requisito OAuth RFC 6749 §4.1.2.1).

        **Erros após a validação** são enviados como `?error=` no redirect_uri
        validado (comportamento padrão OAuth).

        Rate limit: **30 req/min por IP**.
      security: []
      parameters:
        - name: client_id
          in: query
          required: true
          schema: { type: string }
          description: Identificador do app cliente (1-64 chars alfanuméricos, `_` ou `-`).
        - name: redirect_uri
          in: query
          required: true
          schema: { type: string, format: uri }
          description: URI de retorno (deve constar na lista cadastrada do client).
        - name: response_type
          in: query
          required: true
          schema: { type: string, enum: [code] }
          description: Deve ser `code` (authorization code flow).
        - name: state
          in: query
          required: false
          schema: { type: string }
          description: Valor opaco de CSRF — devolvido intacto no redirect de retorno.
        - name: code_challenge
          in: query
          required: true
          schema: { type: string }
          description: "PKCE challenge: base64url(SHA-256(code_verifier)), sem padding."
        - name: code_challenge_method
          in: query
          required: true
          schema: { type: string, enum: [S256] }
          description: Deve ser `S256` (único método suportado).
      responses:
        "302":
          description: |
            Redireciona o navegador. Em caso de sucesso, para a tela de escolha
            de contas do auth-web (`/oauth/choose?request_id=...`). Se o client
            e o redirect_uri são válidos mas a requisição é malformada
            (response_type != code ou PKCE ausente/diferente de S256), redireciona
            para o próprio redirect_uri com `?error=unsupported_response_type`
            ou `?error=invalid_request` (e `state`, se enviado), conforme a spec OAuth.
          headers:
            Location:
              schema:
                type: string
        "400":
          description: client_id ou redirect_uri inválidos (erro JSON direto)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              examples:
                validacao:
                  value: { code: VALIDATION_ERROR, message: "client_id e redirect_uri são obrigatórios" }
                client:
                  value: { code: INVALID_CLIENT, message: "Aplicação ou redirect_uri inválidos" }
        "429":
          $ref: "#/components/responses/RateLimited"

  /oauth/authorize/confirm:
    post:
      tags: [OAuthProvider]
      summary: Confirmar autorização (conta escolhida)
      description: |
        Chamado pelo chooser do `auth-web` depois que o usuário escolhe a conta.
        Valida a sessão escolhida, emite o `code` (uso único, TTL 60s) e devolve a
        URL de retorno para o app cliente (com `?code=` e `?state=` se aplicável).

        Requer o cookie `accounts` (não requer `access_token`).

        Rate limit: **20 req/min por IP**.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                requestId:
                  type: string
                  description: ID da autorização pendente (devolvido pelo `/oauth/authorize`).
                sessionId:
                  type: string
                  format: uuid
                  description: Sessão escolhida pelo usuário (deve estar no cookie `accounts`).
              required: [requestId, sessionId]
      responses:
        "200":
          description: Code emitido — devolve a URL de retorno para o app
          headers:
            Cache-Control:
              schema: { type: string, const: no-store }
          content:
            application/json:
              schema:
                type: object
                properties:
                  redirectTo:
                    type: string
                    format: uri
                    description: URL completa do redirect_uri com `?code=` (e `?state=` se presente).
                required: [redirectTo]
              example:
                redirectTo: "https://app.exemplo.com/callback?code=abc123&state=xyz"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          description: Sessão não encontrada no cookie ou expirada
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: SESSION_EXPIRED, message: "Sessão expirada — entre novamente" }
        "403":
          description: Conta suspensa
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: ACCOUNT_SUSPENDED, message: "Conta suspensa" }
        "410":
          description: Autorização expirou (TTL 10min do Redis esgotado)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: REQUEST_EXPIRED, message: "Autorização expirou — recomece a partir do app" }
        "429":
          $ref: "#/components/responses/RateLimited"

  /oauth/token:
    post:
      tags: [OAuthProvider]
      summary: Trocar code ou refresh token por tokens de acesso
      description: |
        Endpoint de token OAuth 2.0 (RFC 6749 §3.2). Aceita dois grant types:

        **`authorization_code`** — troca o `code` (uso único, TTL 60s) por tokens.
        PKCE S256 é obrigatório: `code_verifier` deve ser verificado contra o
        `code_challenge` enviado em `/oauth/authorize`.

        **`refresh_token`** — rotaciona a sessão e emite novos tokens. A sessão
        antiga é revogada; os novos tokens são devolvidos no corpo (sem cookies).

        Tokens retornam no **corpo da resposta** (sem cookies) — o app cliente
        é responsável pelo armazenamento.

        Rate limit: **20 req/min por IP**.
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                  enum: [authorization_code, refresh_token]
                  description: Tipo de concessão OAuth.
                code:
                  type: string
                  description: "authorization_code: code recebido no callback."
                client_id:
                  type: string
                  description: "authorization_code: identificador do app cliente."
                redirect_uri:
                  type: string
                  format: uri
                  description: "authorization_code: deve ser idêntico ao do authorize."
                code_verifier:
                  type: string
                  description: "authorization_code: segredo PKCE original (antes do hash)."
                refresh_token:
                  type: string
                  description: "refresh_token: token de refresh emitido anteriormente."
              required: [grant_type]
      responses:
        "200":
          description: Tokens emitidos
          headers:
            Cache-Control:
              schema: { type: string, const: no-store }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OAuthTokenResponse" }
              example:
                access_token: "eyJhbGciOiJIUzI1NiJ9..."
                refresh_token: "eyJhbGciOiJIUzI1NiJ9..."
                token_type: "Bearer"
                expires_in: 7200
        "400":
          description: Parâmetros inválidos ou code expirado/já usado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              examples:
                validacao:
                  value: { code: VALIDATION_ERROR, message: "code, client_id, redirect_uri e code_verifier são obrigatórios" }
                grant_invalido:
                  value: { code: INVALID_GRANT, message: "code inválido ou expirado" }
                grant_type:
                  value: { code: UNSUPPORTED_GRANT_TYPE, message: "grant_type deve ser authorization_code ou refresh_token" }
        "401":
          description: refresh_token inválido ou sessão expirada
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: INVALID_GRANT, message: "Sessão expirada" }
        "403":
          description: Conta suspensa
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: ACCOUNT_SUSPENDED, message: "Conta indisponível" }
        "429":
          $ref: "#/components/responses/RateLimited"

  /oauth/register:
    post:
      tags: [OAuthProvider]
      summary: Dynamic Client Registration (RFC 7591)
      description: |
        Registra dinamicamente um app cliente OAuth **público** (PKCE, sem secret).
        Usado por clientes MCP (ex.: claude.ai) para se registrarem antes do fluxo
        de autorização. Registrar um client não concede acesso a nada — o usuário
        ainda precisa autorizar no chooser de contas.

        Erros seguem o formato da RFC 7591 (`error`/`error_description`), não o
        padrão `{code,message}` da API. Rate limit: **10 req/min por IP**.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                redirect_uris:
                  type: array
                  items: { type: string, format: uri }
                  minItems: 1
                  maxItems: 5
                  description: URIs de callback (apenas http/https).
                client_name:
                  type: string
                  maxLength: 100
              required: [redirect_uris]
      responses:
        "201":
          description: Client registrado
          content:
            application/json:
              example:
                client_id: "dcr_h1X9..."
                client_id_issued_at: 1765000000
                client_name: "Claude"
                redirect_uris: ["https://claude.ai/api/mcp/auth_callback"]
                token_endpoint_auth_method: "none"
                grant_types: [authorization_code, refresh_token]
                response_types: [code]
        "400":
          description: Metadata inválido (formato RFC 7591)
          content:
            application/json:
              example: { error: invalid_redirect_uri, error_description: "informe de 1 a 5 redirect_uris" }
        "429":
          $ref: "#/components/responses/RateLimited"

  /.well-known/oauth-authorization-server:
    get:
      tags: [OAuthProvider]
      summary: Metadata do authorization server (RFC 8414)
      description: |
        Documento de descoberta OAuth: endpoints de authorize/token/register,
        PKCE S256 obrigatório, clients públicos (`token_endpoint_auth_methods_supported: ["none"]`).
        Público, com `Access-Control-Allow-Origin: *`.
      security: []
      responses:
        "200":
          description: Metadata
          content:
            application/json:
              example:
                issuer: "https://api.santos-tech.com"
                authorization_endpoint: "https://api.santos-tech.com/oauth/authorize"
                token_endpoint: "https://api.santos-tech.com/oauth/token"
                registration_endpoint: "https://api.santos-tech.com/oauth/register"
                response_types_supported: [code]
                grant_types_supported: [authorization_code, refresh_token]
                code_challenge_methods_supported: [S256]
                token_endpoint_auth_methods_supported: [none]

  /.well-known/oauth-protected-resource/mcp:
    get:
      tags: [OAuthProvider]
      summary: Metadata do protected resource MCP (RFC 9728)
      description: |
        Declara o servidor MCP (`/mcp`) como resource protegido por este
        authorization server. Clientes MCP chegam aqui a partir do
        `WWW-Authenticate: ... resource_metadata=` devolvido pelo gateway no 401.
        Também servido em `/.well-known/oauth-protected-resource` (sem sufixo).
      security: []
      responses:
        "200":
          description: Metadata
          content:
            application/json:
              example:
                resource: "https://api.santos-tech.com/mcp"
                authorization_servers: ["https://api.santos-tech.com"]
                bearer_methods_supported: [header]

  # ── Admin: gestão de usuários ────────────────────────────────────────────────

  /auth/admin/models3d:
    get:
      tags: [Admin]
      summary: Listar modelos 3D
      description: Biblioteca admin-only de modelos 3D salvos no R2. Requer role Admin.
      responses:
        "200":
          description: Lista de modelos, mais recente primeiro
          content:
            application/json:
              schema:
                type: object
                properties:
                  files:
                    type: array
                    items: { $ref: "#/components/schemas/Model3DFile" }
                required: [files]
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [Admin]
      summary: Enviar modelo 3D
      description: |
        Upload multipart (campo `file`), máx 50MB. Formatos aceitos: `.glb`, `.gltf`,
        `.stl`, `.obj`, `.fbx`, `.blend` — o conteúdo é validado (magic bytes) contra
        a extensão declarada no nome do arquivo, não só o Content-Type. Passa pelo
        backend (não é presigned) justamente para permitir essa validação. Sobe pro
        R2 e grava os metadados no Postgres. Requer role Admin. Rate limit: 10 req/min por IP.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                folder:
                  type: string
                  description: Pasta simples (1 nível, opcional) para organizar o modelo já no envio.
              required: [file]
      responses:
        "201":
          description: Modelo salvo
          content:
            application/json:
              schema:
                type: object
                properties:
                  file: { $ref: "#/components/schemas/Model3DFile" }
                required: [file]
        "400":
          description: Arquivo ausente, vazio, grande demais, ou conteúdo não bate com a extensão declarada
        "503":
          description: Upload não configurado (R2 sem credenciais)
        "401":
          $ref: "#/components/responses/Unauthorized"
  /auth/admin/models3d/{id}:
    patch:
      tags: [Admin]
      summary: Editar modelo 3D (renomear, mover de pasta, favoritar)
      description: |
        Atualização parcial — envie só os campos que quer mudar. Requer role Admin.
        Rate limit: 30 req/min por IP.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filename:
                  type: string
                  description: Novo nome de exibição (não pode ficar vazio).
                folder:
                  type: string
                  description: Nova pasta (string vazia move para "sem pasta").
                pinned:
                  type: boolean
      responses:
        "200":
          description: Modelo atualizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  file: { $ref: "#/components/schemas/Model3DFile" }
                required: [file]
        "400":
          description: Corpo inválido, nome vazio, nome/pasta grande demais
        "404":
          description: Modelo não encontrado
        "401":
          $ref: "#/components/responses/Unauthorized"
    delete:
      tags: [Admin]
      summary: Apagar modelo 3D
      description: Remove o objeto no R2 e a linha no Postgres. Requer role Admin.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        "204":
          description: Apagado
        "404":
          description: Modelo não encontrado
        "401":
          $ref: "#/components/responses/Unauthorized"

  /auth/admin/users:
    get:
      tags: [Admin]
      summary: Listar usuários
      description: |
        Por padrão lista apenas contas `@santos-tech.com`. Com `?scope=all`, retorna
        todos os usuários de qualquer domínio. Requer role Admin.
      parameters:
        - name: scope
          in: query
          required: false
          schema:
            type: string
            enum: [all]
          description: "Passar `all` para listar usuários de todos os domínios."
      responses:
        "200":
          description: Lista de usuários
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items: { $ref: "#/components/schemas/AdminUser" }
                required: [users]
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [Admin]
      summary: Criar usuário (sem senha + convite, ou com senha já ativa)
      description: |
        Cria uma conta de usuário. Dois modos:

        **Modo convite (padrão):** sem `password`, cria a conta sem senha e envia
        um email de convite com link para o usuário definir sua própria senha
        (TTL 72h). Comportamento atual preservado.

        **Modo senha direta:** com `password` preenchido (mín. 8 chars, máx. 128),
        cria a conta **já ativa** com essa senha — sem enviar convite. O campo
        `pending` da resposta fica `false`. Indicado para contas de login não-
        institucionais onde o admin já conhece a senha inicial.

        Aceita `email` completo (qualquer domínio) **ou** `localPart` (que vira
        `@santos-tech.com`). Quando os dois são enviados, `email` tem precedência.

        Com `shared: true`, cria uma **caixa institucional compartilhada**
        `@santos-tech.com` sem login — exige `localPart`; `name` vira opcional
        (default = `localPart`); nenhum convite é enviado; a conta não autentica
        por senha, OAuth, convite nem "esqueci a senha". A resposta inclui
        `loginDisabled: true` para essas contas. O campo `password` é ignorado
        para contas `shared`.

        Rate limit: **10 req/min por IP**.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: Email completo (qualquer domínio). Tem precedência sobre `localPart`.
                localPart:
                  type: string
                  pattern: '^[a-z0-9._%+-]+$'
                  description: Parte local do email (sem @). Vira `localPart@santos-tech.com`.
                name:
                  type: string
                  description: Nome completo do usuário (obrigatório para contas normais; opcional para `shared`).
                role:
                  type: integer
                  description: "1=Aluno (padrão), 2=Professor, 3=Admin. Ignorado quando `shared=true`."
                  enum: [1, 2, 3]
                  default: 1
                shared:
                  type: boolean
                  default: false
                  description: |
                    Cria uma caixa institucional compartilhada `@santos-tech.com` sem login.
                    Exige `localPart`. `name` vira opcional. Nenhum convite é enviado.
                    A conta não autentica por nenhum caminho (senha, OAuth, "esqueci a senha").
                password:
                  type: string
                  format: password
                  minLength: 8
                  maxLength: 128
                  description: |
                    Senha inicial (opcional). Se presente, a conta é criada **já ativa**
                    com essa senha e nenhum convite é enviado (`pending: false`).
                    Se ausente, o comportamento padrão de convite é mantido (`pending: true`).
              required: []
      responses:
        "201":
          description: Usuário criado (com convite ou já ativo, dependendo do campo `password`)
          content:
            application/json:
              schema:
                type: object
                properties:
                  user: { $ref: "#/components/schemas/AdminUser" }
                required: [user]
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: Email já cadastrado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: EMAIL_ALREADY_EXISTS, message: "Este email já está cadastrado" }
        "429":
          $ref: "#/components/responses/RateLimited"

  /auth/admin/users/{id}:
    patch:
      tags: [Admin]
      summary: Atualizar usuário
      description: |
        Atualiza campos do usuário (todos opcionais — só os enviados são alterados).
        Um admin não pode suspender a própria conta (`SELF_ACTION`).

        Com o campo `password` preenchido (mín. 8 chars, máx. 128), redefine a
        senha do usuário imediatamente (hash argon2id) e marca a conta como ativa
        (`pending: false`). Pode ser combinado com outros campos no mesmo PATCH.

        Rate limit: **20 req/min por IP**.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer, format: int64 }
          description: ID interno do usuário.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Novo nome do usuário.
                role:
                  type: integer
                  description: "1=Aluno, 2=Professor, 3=Admin."
                  enum: [1, 2, 3]
                suspended:
                  type: boolean
                  description: Suspender (`true`) ou reativar (`false`) a conta.
                quotaBytes:
                  type: integer
                  format: int64
                  minimum: 0
                  description: Cota de armazenamento em bytes (0 = sem limite).
                password:
                  type: string
                  format: password
                  minLength: 8
                  maxLength: 128
                  description: |
                    Nova senha do usuário (opcional). Se presente, redefine a senha
                    diretamente (sem link de reset) e ativa a conta (`pending: false`).
      responses:
        "200":
          description: Usuário atualizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  user: { $ref: "#/components/schemas/AdminUser" }
                required: [user]
        "400":
          description: Validação falhou ou auto-suspensão bloqueada
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: SELF_ACTION, message: "você não pode suspender a própria conta" }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Usuário não encontrado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: NOT_FOUND, message: "usuário não encontrado" }
        "429":
          $ref: "#/components/responses/RateLimited"
    delete:
      tags: [Admin]
      summary: Excluir usuário
      description: |
        Remove permanentemente o usuário. Exige **sudo mode** (confirmação recente
        de identidade via `POST /auth/sudo/verify`). Um admin não pode excluir a
        própria conta (`SELF_ACTION`).
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer, format: int64 }
          description: ID interno do usuário.
      responses:
        "204":
          description: Usuário excluído
        "400":
          description: Auto-exclusão bloqueada
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: SELF_ACTION, message: "você não pode excluir a própria conta" }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Sudo mode não ativo
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: SUDO_REQUIRED, message: "Confirme sua identidade para esta ação" }

  /auth/admin/users/{id}/invite:
    post:
      tags: [Admin]
      summary: Reenviar convite
      description: |
        Reenvia o email de convite para um usuário existente (útil quando o link
        original expirou). O novo link tem TTL de 72h.

        Rate limit: **5 req/min por IP**.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer, format: int64 }
          description: ID interno do usuário.
      responses:
        "204":
          description: Convite reenviado
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Usuário não encontrado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: NOT_FOUND, message: "usuário não encontrado" }
        "429":
          $ref: "#/components/responses/RateLimited"

  /auth/admin/users/{id}/send-reset:
    post:
      tags: [Admin]
      summary: Enviar link de redefinição de senha (admin)
      description: |
        Gera e envia um link de redefinição de senha para o usuário identificado
        por `{id}`. Reutiliza o mesmo mecanismo do `POST /auth/forgot-password`:
        token efêmero no Redis com TTL de **1 hora**, mesmo template de email
        "Recuperação de senha".

        O destino do email pode ser sobrescrito com o campo `email` no body (útil
        para enviar para um endereço alternativo). Se o body não vier ou não tiver
        `email`, usa o email cadastrado do próprio usuário.

        Contas institucionais (`loginDisabled: true`) não possuem login, portanto
        retornam `400`.

        Rate limit: **5 req/min por IP**.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer, format: int64 }
          description: ID interno do usuário.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: |
                    Endereço de destino alternativo. Se omitido, usa o email
                    cadastrado do usuário.
      responses:
        "200":
          description: Link enviado com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean, example: true }
                required: [ok]
        "400":
          description: Conta institucional (sem login) ou email inválido no body
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: VALIDATION_ERROR, message: "conta institucional não tem login — sem link de reset" }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Usuário não encontrado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: NOT_FOUND, message: "usuário não encontrado" }
        "429":
          $ref: "#/components/responses/RateLimited"

  # ── Admin: gestão de aplicações OAuth ────────────────────────────────────────

  /auth/admin/oauth-clients:
    get:
      tags: [Admin]
      summary: Listar aplicações OAuth cadastradas
      description: |
        Retorna todas as aplicações OAuth registradas, ordenadas por data de criação
        (mais recentes primeiro). Requer role Admin.
      responses:
        "200":
          description: Lista de aplicações
          content:
            application/json:
              schema:
                type: object
                properties:
                  clients:
                    type: array
                    items: { $ref: "#/components/schemas/OAuthClient" }
                required: [clients]
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [Admin]
      summary: Criar nova aplicação OAuth
      description: |
        Cadastra uma nova aplicação OAuth ("Entrar com Santos Tech"). O `clientId`
        deve ser único (1-64 chars alfanuméricos, `_` ou `-`) e ao menos um
        `redirect_uri` válido (scheme + host) deve ser informado.

        Rate limit: **10 req/min por IP**.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                clientId:
                  type: string
                  pattern: '^[a-zA-Z0-9_-]{1,64}$'
                  description: Identificador único da aplicação.
                name:
                  type: string
                  description: Nome exibido no chooser de contas.
                redirectUris:
                  type: array
                  items: { type: string, format: uri }
                  minItems: 1
                  description: Lista de redirect URIs autorizados.
              required: [clientId, name, redirectUris]
      responses:
        "201":
          description: Aplicação criada
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OAuthClient" }
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: Já existe aplicação com este client_id
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: CLIENT_ALREADY_EXISTS, message: "Já existe uma aplicação com este client_id" }
        "429":
          $ref: "#/components/responses/RateLimited"

  /auth/admin/oauth-clients/{id}:
    patch:
      tags: [Admin]
      summary: Atualizar aplicação OAuth
      description: |
        Atualiza campos da aplicação (todos opcionais — só os enviados são alterados).
        O `id` é o UUID interno (não o `clientId`).

        Rate limit: **20 req/min por IP**.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
          description: UUID interno da aplicação.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Novo nome da aplicação.
                redirectUris:
                  type: array
                  items: { type: string, format: uri }
                  minItems: 1
                  description: Nova lista de redirect URIs (substitui inteiramente a anterior).
                isActive:
                  type: boolean
                  description: Habilitar/desabilitar a aplicação.
      responses:
        "200":
          description: Aplicação atualizada
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OAuthClient" }
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Aplicação não encontrada
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: NOT_FOUND, message: "Aplicação não encontrada" }
        "429":
          $ref: "#/components/responses/RateLimited"
    delete:
      tags: [Admin]
      summary: Excluir aplicação OAuth
      description: |
        Remove permanentemente a aplicação OAuth. Exige **sudo mode** (confirmação
        recente de identidade via `POST /auth/sudo/verify`).
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
          description: UUID interno da aplicação.
      responses:
        "204":
          description: Aplicação excluída
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Sudo mode não ativo
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: SUDO_REQUIRED, message: "Confirme sua identidade para esta ação" }
        "404":
          description: Aplicação não encontrada
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: NOT_FOUND, message: "Aplicação não encontrada" }

  # ── Roteador de chaves de API (failover automático) ──────────────────────
  # Admin-only. Vazio API_VAULT_SECRET → todo endpoint abaixo responde 503.
  /auth/admin/api-router/providers:
    get:
      tags: [Admin]
      summary: Listar providers do roteador de chaves de API
      description: |
        Cada provider agrupa N chaves cadastradas para o mesmo serviço externo.
        `keyCounts` traz a contagem de chaves por status
        (`active`/`unauthorized`/`no_credits`/`disabled`).
      responses:
        "200":
          description: Lista de providers
          content:
            application/json:
              schema:
                type: object
                properties:
                  providers:
                    type: array
                    items: { $ref: "#/components/schemas/APIRouterProvider" }
                required: [providers]
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/APIRouterNotConfigured"
    post:
      tags: [Admin]
      summary: Cadastrar provider novo
      description: |
        `name` e `baseUrl` são obrigatórios. `authHeader` (default
        `Authorization`), `unauthorizedCodes` (default `[401]`) e
        `noCreditCodes` (default `[402, 429]`) assumem o default quando
        omitidos/vazios. `authScheme` vazio = sem prefixo no header.

        Rate limit: **10 req/min por IP**.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/APIRouterProviderInput" }
      responses:
        "201":
          description: Provider criado
          content:
            application/json:
              schema:
                type: object
                properties: { provider: { $ref: "#/components/schemas/APIRouterProvider" } }
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: Já existe provider com esse nome
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: CONFLICT, message: "já existe um provider com esse nome" }
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/APIRouterNotConfigured"

  /auth/admin/api-router/providers/{id}:
    patch:
      tags: [Admin]
      summary: Atualizar provider
      description: "Rate limit: **20 req/min por IP**."
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/APIRouterProviderInput" }
      responses:
        "200":
          description: Provider atualizado
          content:
            application/json:
              schema:
                type: object
                properties: { provider: { $ref: "#/components/schemas/APIRouterProvider" } }
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Provider não encontrado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: NOT_FOUND, message: "provider não encontrado" }
        "503":
          $ref: "#/components/responses/APIRouterNotConfigured"
    delete:
      tags: [Admin]
      summary: Apagar provider (e suas chaves, em cascata)
      description: |
        Exige **sudo mode** (confirmação recente de identidade via
        `POST /auth/sudo/verify`).
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        "204":
          description: Provider apagado
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Sudo mode não ativo
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: SUDO_REQUIRED, message: "Confirme sua identidade para esta ação" }
        "404":
          description: Provider não encontrado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: NOT_FOUND, message: "provider não encontrado" }
        "503":
          $ref: "#/components/responses/APIRouterNotConfigured"

  /auth/admin/api-router/providers/{id}/keys:
    get:
      tags: [Admin]
      summary: Listar as chaves de um provider
      description: Rota admin-only. Devolve o segredo decifrado de cada chave (em `secret`).
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        "200":
          description: Lista de chaves
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items: { $ref: "#/components/schemas/APIRouterKey" }
                required: [keys]
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Provider não encontrado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: NOT_FOUND, message: "provider não encontrado" }
        "503":
          $ref: "#/components/responses/APIRouterNotConfigured"
    post:
      tags: [Admin]
      summary: Cadastrar chave nova
      description: |
        O valor é cifrado (AES-256-GCM) antes de persistir e nunca é
        reexibido. Exige **sudo mode** (é a criação de uma credencial real de
        longa duração, mesmo critério de `POST /auth/api-keys`).

        Rate limit: **10 req/min por IP**.
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/APIRouterKeyInput" }
      responses:
        "201":
          description: Chave criada, nasce com status "active"
          content:
            application/json:
              schema:
                type: object
                properties: { key: { $ref: "#/components/schemas/APIRouterKey" } }
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Sudo mode não ativo
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: SUDO_REQUIRED, message: "Confirme sua identidade para esta ação" }
        "404":
          description: Provider não encontrado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: NOT_FOUND, message: "provider não encontrado" }
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/APIRouterNotConfigured"

  /auth/admin/api-router/providers/{id}/keys/{keyId}:
    patch:
      tags: [Admin]
      summary: Renomear a chave / mudar a prioridade de rotação
      description: |
        Não troca o segredo — para isso, apague e recadastre.

        Rate limit: **20 req/min por IP**.
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
        - { name: keyId, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label: { type: string }
                priority: { type: integer, description: "Menor valor = tentada primeiro." }
              required: [label]
      responses:
        "200":
          description: Chave atualizada
          content:
            application/json:
              schema:
                type: object
                properties: { key: { $ref: "#/components/schemas/APIRouterKey" } }
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Chave não encontrada
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: NOT_FOUND, message: "chave não encontrada" }
        "503":
          $ref: "#/components/responses/APIRouterNotConfigured"
    delete:
      tags: [Admin]
      summary: Apagar chave
      description: |
        Exige **sudo mode** (confirmação recente de identidade via
        `POST /auth/sudo/verify`).
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
        - { name: keyId, in: path, required: true, schema: { type: integer } }
      responses:
        "204":
          description: Chave apagada
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Sudo mode não ativo
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: SUDO_REQUIRED, message: "Confirme sua identidade para esta ação" }
        "404":
          description: Chave não encontrada
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: NOT_FOUND, message: "chave não encontrada" }
        "503":
          $ref: "#/components/responses/APIRouterNotConfigured"

  /auth/admin/api-router/providers/{id}/keys/{keyId}/status:
    post:
      tags: [Admin]
      summary: Trocar status manualmente (ativar/desativar)
      description: |
        Só `active` (reativa) ou `disabled` (desliga) fazem sentido aqui —
        `unauthorized`/`no_credits` só o roteador atribui sozinho.

        Rate limit: **20 req/min por IP**.
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
        - { name: keyId, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: { status: { type: string, enum: [active, disabled] } }
              required: [status]
      responses:
        "200":
          description: Status atualizado
          content:
            application/json:
              schema:
                type: object
                properties: { key: { $ref: "#/components/schemas/APIRouterKey" } }
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Chave não encontrada
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: NOT_FOUND, message: "chave não encontrada" }
        "503":
          $ref: "#/components/responses/APIRouterNotConfigured"

  /auth/admin/api-router/providers/{id}/keys/{keyId}/test:
    post:
      tags: [Admin]
      summary: Testar uma chave contra o provider de verdade
      description: |
        Dispara uma requisição real (`provider.testPath`/`testMethod`, ou GET
        na `baseUrl` se ambos vazios) usando essa chave específica e grava o
        resultado — mesmo que a chave não esteja "active" no momento (é assim
        que se reativa uma chave marcada `unauthorized`/`no_credits`).

        Rate limit: **20 req/min por IP**.
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
        - { name: keyId, in: path, required: true, schema: { type: integer } }
      responses:
        "200":
          description: |
            Teste executado (mesmo se `outcome` for `unauthorized`/`no_credits`
            — não é erro HTTP).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/APIRouterTestResult" }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Provider ou chave não encontrados
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: NOT_FOUND, message: "chave não encontrada" }
        "502":
          description: Falha ao decifrar a chave ou montar a requisição
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: TEST_FAILED, message: "falha ao testar chave" }
        "503":
          $ref: "#/components/responses/APIRouterNotConfigured"

  /auth/admin/api-router/providers/{id}/proxy:
    post:
      tags: [Admin]
      summary: Repassar uma requisição real pro provider (uso de verdade, não teste)
      description: |
        Diferente do `/test` (que só verifica se a chave funciona), este
        endpoint executa a chamada de verdade: `path`/`method`/`body` são
        repassados ao `baseUrl` do provider com rotação automática de chave
        (mesmo mecanismo do `/test`), e a resposta é devolvida **tal como o
        provider respondeu** — sem envelope, no formato nativo da API (ex.:
        o JSON de chat completion da OpenAI/Anthropic/etc.). O header
        `X-Api-Router-Key` na resposta identifica qual chave foi usada.

        **Sem suporte a streaming** (SSE) — a resposta é lida inteira antes
        de devolver. `body`, se presente, vai como JSON no corpo da
        requisição ao provider (Content-Type: application/json por padrão,
        sobrescrevível via `headers`).

        Rate limit: **20 req/min por IP**.
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                method: { type: string, default: POST, example: POST }
                path: { type: string, example: "/v1/chat/completions", description: "Path relativo ao baseUrl do provider." }
                headers: { type: object, additionalProperties: { type: string }, description: "Headers extras (além do de auth, que o roteador já injeta)." }
                body: { type: object, description: "Corpo repassado como JSON — no formato que a API do provider espera." }
              required: [path]
      responses:
        "200":
          description: "Resposta do provider, passthrough (status e corpo tal como vieram)."
          content:
            application/json:
              schema: { type: object, description: "Formato nativo da API do provider — varia por provider/endpoint." }
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Provider não encontrado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: NOT_FOUND, message: "provider não encontrado" }
        "502":
          description: Todas as chaves ativas falharam, ou falha ao montar/enviar a requisição
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: ALL_KEYS_EXHAUSTED, message: "todas as chaves do provider falharam (401/sem créditos)" }
        "503":
          description: "API_VAULT_SECRET não configurada, ou provider sem nenhuma chave ativa"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: NO_ACTIVE_KEYS, message: "provider sem chaves ativas" }

  /auth/admin/api-router/providers/{id}/chat:
    post:
      tags: [Admin]
      summary: Chat normalizado — envia um prompt e recebe só o texto de resposta
      description: |
        Versão normalizada do `/proxy`: monta a requisição no formato nativo
        do provider a partir de `provider.chatAdapter`
        (`openai_compatible`/`anthropic`/`google`/`cohere`) e devolve só o
        texto extraído da resposta — o chamador não precisa saber o formato de
        request/response de cada API. `model` é opcional; cada adapter tem
        um default razoável.

        Rotação automática de chave (mesmo mecanismo do `/proxy`/`/test`).
        Sem streaming.

        Rate limit: **10 req/min por IP**.
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt: { type: string, example: "Explique o que é rotação de chaves de API em 1 frase." }
                model: { type: string, description: "Opcional — default depende do adapter (ex.: gpt-4o-mini, claude-sonnet-4-5, gemini-2.5-flash)." }
              required: [prompt]
      responses:
        "200":
          description: Resposta normalizada
          content:
            application/json:
              schema:
                type: object
                properties:
                  text: { type: string, description: "Texto extraído da resposta do provider." }
                  keyUsed: { type: string, description: "Rótulo da chave que respondeu." }
                required: [text, keyUsed]
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Provider não encontrado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: NOT_FOUND, message: "provider não encontrado" }
        "422":
          description: "A chave funcionou, mas o provider recusou a requisição (ex.: modelo inexistente) — ver o `message` para o motivo nativo do provider."
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: PROVIDER_ERROR, message: "model: the model `gpt-99` does not exist" }
        "502":
          description: Todas as chaves ativas falharam
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: ALL_KEYS_EXHAUSTED, message: "todas as chaves do provider falharam (401/sem créditos)" }
        "503":
          description: "API_VAULT_SECRET não configurada, ou provider sem nenhuma chave ativa"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: NO_ACTIVE_KEYS, message: "provider sem chaves ativas" }

  # ── payments-go: Extrato (GET /statement) ────────────────────────────────
  # Serviço: apps/payments-go · prefixo em produção: /payments (via proxy reverso)
  # TODO: atualizar llms.txt central (api.santos-tech.com/llms.txt) com esta rota.
  /payments/statement:
    get:
      tags: [Payments]
      summary: Extrato de movimentos financeiros (admin)
      description: |
        Retorna a lista de movimentos financeiros do período selecionado, ordenada
        por data decrescente. Combina:
        - **Entradas** (`direction: "in"`): cobranças pagas — `type` em `pix_in`,
          `boleto_in`, `card_in`.
        - **Saídas** (`direction: "out"`): saques registrados — `type: "payout"`.

        O CSV de conciliação Efí (`GET /payments/efi/reports/{id}`) permanece
        independente — trata-se de extratos diferentes (local vs. liquidação Efí).

        Usa as mesmas janelas de tempo do analytics: `7d`, `30d` (padrão), `90d`,
        `12m`, `all`.
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - in: query
          name: range
          schema:
            type: string
            enum: [7d, 30d, 90d, 12m, all]
            default: 30d
          description: Janela de tempo do extrato.
      responses:
        "200":
          description: Lista de movimentos ordenada por data decrescente.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Movement"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          description: Erro ao consultar movimentos no banco de dados.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: db_error, message: "Falha ao consultar extrato" }

  # ── Blog (público) ──────────────────────────────────────────────────────
  /public/blog/posts:
    get:
      tags: [Blog]
      summary: Lista posts publicados (público)
      description: "Sem autenticação. Só devolve posts com `status: published`."
      security: []
      parameters:
        - in: query
          name: page
          schema: { type: integer, default: 1, minimum: 1 }
        - in: query
          name: pageSize
          schema: { type: integer, default: 12, maximum: 50 }
        - in: query
          name: category
          schema: { type: string }
          description: Slug da categoria pra filtrar.
        - in: query
          name: q
          schema: { type: string }
          description: Busca em título/resumo (ILIKE).
      responses:
        "200":
          description: Página de posts publicados.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items: { type: array, items: { $ref: "#/components/schemas/BlogPostSummaryPublic" } }
                  page: { type: integer }
                  pageSize: { type: integer }
                  total: { type: integer }
                required: [items, page, pageSize, total]
        "429":
          $ref: "#/components/responses/RateLimited"

  /public/blog/posts/{slug}:
    get:
      tags: [Blog]
      summary: Post publicado por slug (público)
      description: Sem autenticação. 404 se não existir ou não estiver publicado.
      security: []
      parameters:
        - in: path
          name: slug
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Post publicado.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BlogPostPublic" }
        "404":
          description: Post não encontrado ou não publicado.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: BLOG_POST_NOT_FOUND, message: "Post não encontrado" }
        "429":
          $ref: "#/components/responses/RateLimited"

  /public/blog/categories:
    get:
      tags: [Blog]
      summary: Lista categorias (público)
      security: []
      responses:
        "200":
          description: Todas as categorias.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/BlogCategoryPublic" }
        "429":
          $ref: "#/components/responses/RateLimited"

  # ── Blog (admin) ────────────────────────────────────────────────────────
  /blog/posts:
    get:
      tags: [Blog]
      summary: Lista posts (admin — qualquer status)
      description: Requer `blog_posts:read`.
      parameters:
        - in: query
          name: page
          schema: { type: integer, default: 1, minimum: 1 }
        - in: query
          name: pageSize
          schema: { type: integer, default: 12, maximum: 50 }
        - in: query
          name: status
          schema: { type: string, enum: [draft, published] }
        - in: query
          name: category
          schema: { type: string }
        - in: query
          name: q
          schema: { type: string }
      responses:
        "200":
          description: Página de posts (todos os status).
          content:
            application/json:
              schema:
                type: object
                properties:
                  items: { type: array, items: { $ref: "#/components/schemas/BlogPost" } }
                  page: { type: integer }
                  pageSize: { type: integer }
                  total: { type: integer }
                required: [items, page, pageSize, total]
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Sem a permissão blog_posts:read.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: FORBIDDEN, message: "Acesso restrito" }
    post:
      tags: [Blog]
      summary: Cria post (rascunho ou já publicado)
      description: "Requer `blog_posts:write`. `status: published` seta `publishedAt = now()`."
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/BlogPostInput" }
      responses:
        "201":
          description: Post criado.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BlogPost" }
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: Já existe um post com esse slug.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: SLUG_TAKEN, message: "Já existe um post com esse slug" }

  /blog/posts/{id}:
    get:
      tags: [Blog]
      summary: Busca post por id (admin)
      description: Requer `blog_posts:read`.
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Post.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BlogPost" }
        "404":
          description: Post não encontrado.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: BLOG_POST_NOT_FOUND, message: "Post não encontrado" }
    patch:
      tags: [Blog]
      summary: Atualiza post (inclui publicar/despublicar via status)
      description: Requer `blog_posts:write`.
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/BlogPostInput" }
      responses:
        "200":
          description: Post atualizado.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BlogPost" }
        "400":
          $ref: "#/components/responses/ValidationError"
        "404":
          description: Post não encontrado.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "409":
          description: Já existe um post com esse slug.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
    delete:
      tags: [Blog]
      summary: Apaga post (destrutivo)
      description: Admin-only + sudo mode (não passa pelo sistema de permissão de cargo).
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204":
          description: Apagado.
        "403":
          description: Requer role Admin + sudo mode recente.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: Post não encontrado.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /blog/categories:
    get:
      tags: [Blog]
      summary: Lista categorias (admin — com id)
      description: Requer `blog_posts:read`. Igual `/public/blog/categories`, mas com `id` (necessário pra editar/apagar).
      responses:
        "200":
          description: Todas as categorias.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/BlogCategory" }
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [Blog]
      summary: Cria categoria
      description: Requer `blog_posts:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/BlogCategoryInput" }
      responses:
        "201":
          description: Categoria criada.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BlogCategory" }
        "400":
          $ref: "#/components/responses/ValidationError"
        "409":
          description: Já existe uma categoria com esse slug.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /blog/categories/{id}:
    patch:
      tags: [Blog]
      summary: Atualiza categoria
      description: Requer `blog_posts:write`.
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/BlogCategoryInput" }
      responses:
        "200":
          description: Categoria atualizada.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BlogCategory" }
        "404":
          description: Categoria não encontrada.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "409":
          description: Slug em uso.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
    delete:
      tags: [Blog]
      summary: Apaga categoria (destrutivo)
      description: Admin-only + sudo mode. 409 se ainda houver posts na categoria (FK).
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204":
          description: Apagada.
        "404":
          description: Categoria não encontrada.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "409":
          description: Categoria em uso por um ou mais posts.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: BLOG_CATEGORY_IN_USE, message: "Categoria está em uso por um ou mais posts" }

  # ── Blog Analytics ───────────────────────────────────────────────────────
  /public/blog/events:
    post:
      tags: [Blog Analytics]
      summary: Registra um evento de analytics do blog (beacon anônimo)
      description: Sem autenticação. device/browser/os/country são sempre derivados no servidor (User-Agent, CF-IPCountry) — nunca aceitos do payload.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, path, sessionId, visitorId]
              properties:
                type: { type: string, enum: [pageview, cta_click] }
                path: { type: string }
                postSlug: { type: string, nullable: true }
                sessionId: { type: string }
                visitorId: { type: string }
                referrer: { type: string }
                utmSource: { type: string }
      responses:
        "204":
          description: Evento registrado.
        "400":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"

  /public/blog/heatmap/events:
    post:
      tags: [Blog Analytics]
      summary: Registra um lote de heatmap (cliques + profundidade de scroll)
      description: |
        Sem autenticação. Sempre um LOTE por flush do client (ver
        blog/web/src/lib/blog-heatmap.ts) — nunca 1 request por clique. Até
        200 cliques por lote; maxScrollDepthPct é opcional (1 valor por
        pageview, a profundidade máxima já alcançada até aquele flush).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [postSlug, viewport, sessionId]
              properties:
                postSlug: { type: string }
                viewport: { type: string, enum: [mobile, desktop] }
                sessionId: { type: string }
                clicks:
                  type: array
                  maxItems: 200
                  items:
                    type: object
                    required: [xPct, yPct]
                    properties:
                      xPct: { type: number, format: double, minimum: 0, maximum: 1, description: "Relativo à largura do conteúdo (0..1)." }
                      yPct: { type: number, format: double, minimum: 0, maximum: 1, description: "Relativo à altura do conteúdo (0..1) — mesma normalização de xPct, resolução-independente." }
                maxScrollDepthPct: { type: number, format: double, minimum: 0, maximum: 1, nullable: true }
      responses:
        "204":
          description: Lote registrado.
        "400":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"

  /blog/metrics/overview:
    get:
      tags: [Blog Analytics]
      summary: Resumo de pageviews/visitantes/cliques CTA, com comparação vs período anterior
      description: Requer `blog_posts:read`.
      parameters:
        - { in: query, name: from, required: true, schema: { type: string, format: date } }
        - { in: query, name: to, required: true, schema: { type: string, format: date } }
        - { in: query, name: postSlug, schema: { type: string } }
        - { in: query, name: referrer, description: "Drill-down: filtra pelo domínio de referrer clicado no painel.", schema: { type: string } }
        - { in: query, name: utmSource, description: "Drill-down: filtra pelo utm_source clicado no painel.", schema: { type: string } }
        - { in: query, name: device, description: "Drill-down: filtra pelo dispositivo clicado no painel.", schema: { type: string } }
        - { in: query, name: country, description: "Drill-down: filtra pelo país (ISO alpha-2) clicado no painel.", schema: { type: string } }
      responses:
        "200":
          description: Resumo do período.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BlogMetricsOverview" }
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Sem a permissão blog_posts:read.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: FORBIDDEN, message: "Acesso restrito" }

  /blog/metrics/timeseries:
    get:
      tags: [Blog Analytics]
      summary: Série temporal de pageviews (diária, ou horária se from/to ≤ 24h)
      description: Requer `blog_posts:read`.
      parameters:
        - { in: query, name: from, required: true, schema: { type: string, format: date } }
        - { in: query, name: to, required: true, schema: { type: string, format: date } }
        - { in: query, name: postSlug, schema: { type: string } }
        - { in: query, name: referrer, description: "Drill-down: filtra pelo domínio de referrer clicado no painel.", schema: { type: string } }
        - { in: query, name: utmSource, description: "Drill-down: filtra pelo utm_source clicado no painel.", schema: { type: string } }
        - { in: query, name: device, description: "Drill-down: filtra pelo dispositivo clicado no painel.", schema: { type: string } }
        - { in: query, name: country, description: "Drill-down: filtra pelo país (ISO alpha-2) clicado no painel.", schema: { type: string } }
      responses:
        "200":
          description: Pontos da série temporal.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/BlogMetricsTimeseriesPoint" }
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Sem a permissão blog_posts:read.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /blog/metrics/top-posts:
    get:
      tags: [Blog Analytics]
      summary: Ranking de posts por pageviews, com cliques de CTA e taxa de conversão
      description: Requer `blog_posts:read`.
      parameters:
        - { in: query, name: from, required: true, schema: { type: string, format: date } }
        - { in: query, name: to, required: true, schema: { type: string, format: date } }
        - { in: query, name: referrer, description: "Drill-down: filtra pelo domínio de referrer clicado no painel.", schema: { type: string } }
[...]
